{
  "extends": "airbnb",
  "settings": {
    "react": {
      "version": "16.3.1"
    }
  },
  "rules": {
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "react/no-unused-class-component-methods": "warn",
    "react/no-unused-state": "warn",
    "no-eval": "warn"
  },
  "ignorePatterns": [
    "node_modules"
  ],
  "globals": {
    "window": "readonly",
    "document": "readonly"
  }
}