{
  "extends": "airbnb",
  "settings": {
    "react": {
      "version": "16.3.1"
    }
  },
  "rules": {
    "no-unused-vars": "warn",
    "react/no-unused-class-component-methods": "warn",
    "react/no-unused-state": "warn"
  },
  "ignorePatterns": [
    "node_modules",
    "*.user.js"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "CONSTANTS": "readonly",
    "Selectors": "readonly",
    "Styles": "readonly",
    "Validator": "readonly",
    "Parser": "readonly",
    "CommandEditor": "readonly",
    "ComponentManager": "readonly"
  }
}